<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>分享成功</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<center>
			<div class="jumbotron">
				<h1>校园资源共享系统</h1>
				<p>共同分享，共同学习，共同进步。资源有限，共享无限</p>
				<p>传递知识，传递分享</p>
				<p>资源有限，共享无限</p>
			</div>
			<div style="width: 300px;">
				<!--点击返回-->
				<p>分享成功,感谢您的分享...</p>
				<form action="/input/toInput" method="post">
					<button type="submit" class="btn btn-success">点击返回分享页面</button>
				</form>
			</div>
		</center>
		<script src="/js/jquery-3.2.1.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>